{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "mainapp/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
   <link href='{% static "mainapp/css/shop-homepage.css" %}' rel="stylesheet">
{% block contents %}
<div class="container" style="padding-top:100px; ">
    <h1>회원가입</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        아이디:
        <br>
        <input name="username" type="text" value="">
        <br>
        비밀번호:
        <br>
        <input name="password1" type="password" value="">
        <br>
        확인 비밀번호:
        <br>
        <input name="password2" type="password" value="">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="회원가입 하기">
    </form>
</div>
{% endblock %}