{% load static %}
<style>

ul,ol {list-style:none;}

.header_top .inner {margin:0 auto;width:1180px;}
.header_top .inner:after {content:'';display:block;clear:both;}
.header_top .inner>a {float:left;margin-top:10px;}
.header_top .header_util {float:right;margin-top:7px;}
.header_top .header_util .btn_tu {display:inline-block;padding:0;font-size:12px;color:#000;line-height:40px;border:1px solid #e1e1e1;background:transparent;vertical-align:top;}
.header_top .header_util .btn_tu.set_login {margin-top:3px;border:0;background:#fff;}


.header_body {position:relative;}
.header_body .inner {height:50px;margin:0 auto;padding-top:23px;width:1180px;}

.header_body .header_logo{position:relative;display:inline-block;top:-15px;left:0;z-index:30;}
.header_body .header_logo a{display:inline-block;}


.header_body .gnb {position:absolute;top:0;left:0;right:0;padding-top:6px;background:#fff;z-index:20;}
.header_body .gnb:before {content:'';position:absolute;left:0;right:0;top:73px;height:1px;background:#d2d3d5;}
.header_body .gnb:after {display:none;content:'';position:absolute;left:0;right:0;bottom:-1px;height:1px;background:#d2d3d5;}
.header_body .gnb .depth1 {width:803px;margin:0 auto;}
.header_body .gnb.reagent .reagent_muarea{width:1180px;margin:0 auto;text-align:right;}
.header_body .gnb.reagent .depth1 {position:relative;display:inline-block;width:705px;margin:0;}
.header_body .gnb .depth1>li {float:left;margin-left:20px;}
.header_body .gnb .depth1>li:first-child {margin-left:0;}


.header_body .gnb .depth1>li>a {display:block;padding:15px 20px 28px 20px;color:#333;text-align:center;border-bottom:4px solid transparent;}
.header_body .gnb .depth1>li>a:hover, .header_body .gnb .depth1>li>a:focus, .header_body .gnb .depth1>li.active>a {border-color:#3e63be;}
.header_body .gnb .depth1>li>a .depth1_menu{display:inline-block;padding:10px 20px;height:22px;font-size:0;color:transparent;background-position:50% 0;background-repeat:no-repeat;}
.header_body .gnb .depth1>li>a .depth1_menu.mu01{width:45px;background-image:url({% static "images/아파트.png" %});}
.header_body .gnb .depth1>li>a .depth1_menu.mu02{width:45px;background-image:url({% static "images/오피스텔.png" %});}
.header_body .gnb .depth1>li>a .depth1_menu.mu03{width:45px;background-image:url({% static "images/원투룸.png" %});}
.header_body .gnb .depth1>li>a .depth1_menu.mu06{width:45px;background-image:url({% static "images/주변상권.png" %});}
.header_body .gnb .depth1>li>a .depth1_menu.mu07{width:50px;background-image:url({% static "images/MYPAGE.png" %});}
.header_body .gnb .depth1>li>a:hover .depth1_menu.mu01, .header_body .gnb .depth1>li>a:focus .depth1_menu.mu01, .header_body .gnb .depth1>li.active>a .depth1_menu.mu01{background-image:url({% static "images/아파트H.png" %});}
.header_body .gnb .depth1>li>a:hover .depth1_menu.mu02, .header_body .gnb .depth1>li>a:focus .depth1_menu.mu02, .header_body .gnb .depth1>li.active>a .depth1_menu.mu02{background-image:url({% static "images/오피스텔H.png" %});}
.header_body .gnb .depth1>li>a:hover .depth1_menu.mu03, .header_body .gnb .depth1>li>a:focus .depth1_menu.mu03, .header_body .gnb .depth1>li.active>a .depth1_menu.mu03{background-image:url({% static "images/원투룸H.png" %});}
.header_body .gnb .depth1>li>a:hover .depth1_menu.mu06, .header_body .gnb .depth1>li>a:focus .depth1_menu.mu06, .header_body .gnb .depth1>li.active>a .depth1_menu.mu06{background-image:url({% static "images/주변상권H.png" %});}
.header_body .gnb .depth1>li>a:hover .depth1_menu.mu07, .header_body .gnb .depth1>li>a:focus .depth1_menu.mu07, .header_body .gnb .depth1>li.active>a .depth1_menu.mu07{background-image:url({% static "images/MYPAGEH.png" %});}
.header_body .gnb.reagent .depth1>li>a .depth1_menu.mu01{width:20px;background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu01_off.png);}
.header_body .gnb.reagent .depth1>li>a .depth1_menu.mu02{width:64px;background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu02_off.png);}
.header_body .gnb.reagent .depth1>li>a .depth1_menu.mu03{width:63px;background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu03_off.png);}
.header_body .gnb.reagent .depth1>li>a .depth1_menu.mu06{width:90px;background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu06_off.png);}
.header_body .gnb.reagent .depth1>li>a:hover .depth1_menu.mu01{background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu01_on.png);}
.header_body .gnb.reagent .depth1>li>a:hover .depth1_menu.mu02{background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu02_on.png);}
.header_body .gnb.reagent .depth1>li>a:hover .depth1_menu.mu03{background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu03_on.png);}
.header_body .gnb.reagent .depth1>li>a:hover .depth1_menu.mu06{background-image:url(https://nimg1.kbstar.com/img/okbland/web/img/w_gnb_reagent_mu06_on.png);}

.header_body .gnb.on:after {display:block;}

.fix_2depth_area {display:block;background:#eff0f4;}
.fix_2depth_area ul {margin:0 auto;width:1180px;text-align:center;}
.fix_2depth_area li {display:inline-block;}
.fix_2depth_area li>a {display:block;padding:17px 18px 19px;font-size:15px;color:#666;}
.fix_2depth_area li.on>a{color:#3f63bf;}
.fix_2depth_area li:first-child>a {padding-left:0;}

.fix_2depth_area .reagent_fix_2depth{margin:0 auto;width:1180px;text-align:right;}
.fix_2depth_area .reagent_fix_2depth ul{display:inline-block;margin:0;width:705px;text-align:center;}

.header_inner {margin:0 auto;width:1180px;height:120px;background:#333;}

.footer_inner {position:relative;padding:20px 0;}
.footer_inner:after {content:'';display:block;clear:both;}
.footer_inner {margin:0 auto;width:1180px;}
.footer_logo {float:left;margin:5px 28px 0 0;width:150px;height:60px;font-size:0;background:url('자취방흑로고.png') no-repeat;}
.footer_cont {float:left;}
.footer_menu:after {content:'';display:block;clear:both;}
.footer_menu li {float:left;}
.footer_menu li>a {position:relative;padding:0 6px;font-size:12px;color:#333;line-height:22px;}
.footer_menu li>a:before {content:'';position:absolute;left:0;top:5px;width:1px;height:7px;background:#dddedd;}
.footer_menu li:first-child>a {padding-left:0;}
.footer_menu li:first-child>a:before {display:none;}
.footer_info {margin-top:4px;font-size:12px;line-height:25px;}
.footer_info .info_tel {position:relative;margin-left:10px;padding-left:18px;}
.footer_info .info_tel:before {content:'';position:absolute;left:0;top:1px;width:18px;height:17px;background:url(https://nimg1.kbstar.com/img/okbland/web/ico/w_ico_footer.png) no-repeat 0 -34px;}


</style>
<body style="padding:5px 350px 5px 350px;">
	<div class="header_top">
		<div class="inner">
			<a href="https://www.kbstar.com"><img src="D:\수업\오픈소스기초프로젝트\프로젝트\ui\ui\02로고타입_big.jpg" alt="충북대학교" style="width:100px; height:20px"></a>
			<div class="header_util">
				<span>
					<button type="button" class="btn_tu set_login" onclick="okblandLogin();" padding: 0px 0px 5px 0px>로그인</button>
				</span>
				<span>
					<button type="button" class="btn_tu set_login" onclick="okblandLogin();" padding: 0px 0px 5px 0px>회원가입</button>
				</span>
			</div>
		</div>
	</div>


<div class="header_body">
	<div class="inner">
		<div class="header_logo"><a href="/quics?page=okbland" class="logo_kbl"><img src="D:\수업\오픈소스기초프로젝트\프로젝트\임시로고.png" alt="KB부동산 liiv on" style="width:150px; height:65px"></a>
		</div>
		<!-- Start: gnb -->
		<div class="gnb">
			<ul class="depth1 clfix">
				<li><a href='/quics?page=C059652'><span class="depth1_menu mu01">매물/시세</span></a></li>
				<li><a href='/quics?page=C059692'><span class="depth1_menu mu02">분양</span></a></li>
				<li><a href='/quics?page=C059702'><span class="depth1_menu mu03">경매</span></a></li>
				<li><a href='/quics?page=C059653'><span class="depth1_menu mu06">상권분석</span></a> </li>
				<li><a href='/quics?page=C059753'><span class="depth1_menu mu07">MY부동산</span></a></li>
			</ul>
		</div>
	</div>
</div>

