{% include "mypagebase.html" %}
{% block content %}
{% load static %}


<div class="header_body">
    <div class= "container">
        <center>
        <div class = "row mt-5 ">
            <div class = "col-12 text-center">
                <h1>MY PAGE</h1>
        </center>


    <div class = "row mt-5">
        <div class = "col-12 ">
            <form method = "POST" action = ".">
            {% csrf_token %}
    <div class="form-group">
      <label for="nickname">닉네임 설정</label>
      <input
      type="text"
      class="form-control"
      id="nickanme"
      placeholder="닉네임"
      name="nickname">  <button type="submit" class="btn btn-primary">등록</button>
      <!-- 이 name 값으로 정보가 전달된다 -->
    </div>
     <li class="비밀번호변경"><a href="{% url 'change_pw' %}">비밀번호변경</a></li>
     <li><a href="{% url 'member_del' %}">회원탈퇴</a></li>
            </form>

    </div>




{% endblock %}

